<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="hcat">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.sdk.feature.group" version="4.10.0.v20181206-1038"/>
			<repository location="http://download.eclipse.org/releases/2018-12/"/>
		</location>
	</locations>
</target>